:host {
  height: 100%;
  display: flex;
  .banner {
    width: 100%;
    @media screen and (max-width: 800px) {
      position: relative;
      top: unset;
    }
    &__title {
      font-size: 1.25rem;
    }
    &__subtitle {
      font-size: 0.8rem;
      line-height: 0rem;
      color: #666;
    }
    &__skills {
      font-size: 0.8rem;
      color: #666;
    }
    &__divider {
      margin-top: 1rem;
      width: 100%;
    }
  }
  .icon {
    height: 75%;
  }
}
