$navbar-top: 3.5rem;

:host {
  .navbar {
    height: $navbar-top;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #4174ee;
    box-shadow: 0px 0px 5px -2px #000;
    color: #fff;
    &__title {
      font-weight: 600;
    }
  }
  .router {
    display: flex;
    padding-top: $navbar-top;
  }
}
