:host {
  margin-top: 1rem;
  display: grid;
  grid-template:
    [row1-start] ". sidenav header . ." 10rem [row1-end]
    [row2-start] ". sidenav main . ." auto [row2-end]
    [row3-start] ". sidenav main . ." auto [row3-end]
    / auto 15rem 30rem 15rem auto;
  row-gap: 1rem;
  column-gap: 1rem;
  @media screen and (max-width: 800px) {
    grid-template-columns: auto 5rem 1fr 5rem auto;
    row-gap: 0.5rem;
    column-gap: 0rem;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: auto 1rem 1fr 1rem auto;
    column-gap: 0rem;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 0rem;
  }
  .sidenav {
    grid-area: sidenav;
    @media screen and (max-width: 800px) {
      grid-area: row1-start / 3 / row3-end / 4;
    }
  }
  .banner {
    position: sticky;
    top: 4.5rem;
    @media screen and (max-width: 800px) {
      position: relative;
      top: unset;
    }
    &__title {
      font-size: 1.25rem;
    }
    &__subtitle {
      font-size: 0.8rem;
      line-height: 0rem;
      color: #666;
    }
    &__skills {
      font-size: 0.8rem;
      color: #666;
    }
    &__divider {
      margin-top: 1rem;
      width: 100%;
    }
  }
  .body {
    grid-area: row1-start / 3 / row3-end / 4;
    @media screen and (max-width: 800px) {
      grid-area: row2-start / 3 / row4-end / 4;
    }
    & .card {
      &__title {
        font-size: 1.5rem;
      }
      &__image {
        &__src {
          width: 100%;
        }
      }
    }
  }
  .icon {
    height: 75%;
  }
}
