:host {
  display: grid;
  grid-template:
    [row1-start] ". header ." 10rem [row1-end]
    [row2-start] ". main ." auto [row2-end]
    / auto 40rem auto;
  row-gap: 1rem;
  @media screen and (max-width: 800px) {
    grid-template:
      [row1-start] ". header ." 10rem [row1-end]
      [row2-start] ". main ." auto [row2-end]
      / 0.5rem 1fr 0.5rem;
    row-gap: 0.5rem;
  }
  .banner {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 1rem;
      line-height: 0rem;
      color: #666;
    }
    &__skills {
      color: #666;
    }
    &__divider {
      margin-top: 1rem;
      width: 100%;
    }
  }
  .body {
    grid-area: row2-start / 2 / row2-end / 3;
    & .card {
      &__image {
        &__src {
          width: 100%;
        }
      }
    }
  }
  .icon {
    height: 75%;
  }
}
