<div class="sidenav">
  <mat-card class="banner">
    <p class="banner__title">Dylan Brigham</p>
    <p class="banner__subtitle">Software Developer</p>
    <p class="banner__skills">
      Angular | Azure | .NET Core | SQL | DevOps | CI/CD
    </p>
    <div class="banner__links">
      <a
        class="link__item"
        [href]="linkedinLink"
        rel="noreferrer"
        routerLinkActive="active"
        target="_blank"
        alt="linkedin link"
        mat-icon-button
      >
        <img class="icon" [src]="linkedinIcon" />
      </a>
      <a
        class="link__item"
        [href]="githubLink"
        rel="noreferrer"
        routerLinkActive="active"
        target="_blank"
        alt="github link"
        mat-icon-button
      >
        <img class="icon" [src]="githubIcon" />
      </a>
    </div>
  </mat-card>
</div>

<div class="body">
  <ng-container *ngIf="posts$ | async as posts">
    <ng-container *ngFor="let post of posts">
      <mat-card class="card">
        <mat-card-title class="card__title">{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle>
        <div class="card__image">
          <img
            alt="blog post image"
            class="card__image__src"
            [src]="blogPostImage"
          />
        </div>
        <mat-card-content [innerHtml]="post.content"> </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
