<div class="banner">
  <h3 class="banner__title">Dylan Brigham</h3>
  <h6 class="banner__subtitle">Software Developer</h6>
  <p class="banner__skills">
    Angular | Azure | .NET Core | SQL | DevOps | CI/CD
  </p>
</div>
<div class="body">
  <mat-card class="card">
    <mat-card-title> Blog Tile </mat-card-title>
    <mat-card-subtitle> Blog Subtitle </mat-card-subtitle>
    <div class="card__image">
      <img class="card__image__src" [src]="blogPostImage" />
    </div>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non mi
      ligula. Sed vestibulum ex augue, vestibulum iaculis massa scelerisque
      vitae. Phasellus ullamcorper semper justo ac luctus. Nullam a ipsum in
      orci accumsan pulvinar at eu turpis. Proin vehicula dignissim arcu sit
      amet commodo. Nulla tincidunt, augue ac maximus rhoncus, velit mauris
      consectetur nunc, eu dictum dui arcu sit amet risus. Nam tempus nunc
      lacus, sit amet placerat nibh pharetra sed. Sed tristique interdum
      pharetra. Integer mi nulla, scelerisque cursus urna sit amet, laoreet
      sollicitudin quam. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Suspendisse sit amet efficitur augue.
      Fusce molestie ligula et arcu vulputate fermentum. Curabitur quis quam
      vehicula, vestibulum lorem pellentesque, gravida nisl. Etiam in
      pellentesque justo. Etiam libero mauris, blandit ac purus sit amet,
      ultrices viverra sem. Maecenas sit amet tellus eu augue hendrerit
      fringilla. Pellentesque id est augue. Suspendisse nunc sem, vestibulum ac
      sapien vitae, tristique auctor quam. Maecenas tortor elit, mattis vitae
      erat non, malesuada vestibulum mi. Phasellus rutrum tellus ut consectetur
      pretium. Phasellus facilisis metus vitae commodo condimentum. Fusce mollis
      vitae orci ac imperdiet. Cras sit amet arcu quam. Pellentesque vitae
      tellus semper, interdum enim at, posuere mauris. Donec lacinia velit
      felis, ac suscipit lacus mattis sed. Cras a pulvinar elit. Praesent
      dignissim fringilla neque id aliquet. Donec ullamcorper quis elit eu
      condimentum. Aenean tristique sollicitudin aliquam. Nam at facilisis quam.
      Donec tincidunt laoreet lorem sed placerat. Cras quis venenatis quam. Sed
      viverra luctus lacus eget consectetur. Aliquam a leo vitae urna consequat
      varius. Curabitur feugiat volutpat faucibus. Sed a augue ut eros pharetra
      lacinia. Aliquam blandit leo vel aliquam suscipit. Fusce dignissim
      vestibulum arcu sit amet aliquet. Suspendisse vitae efficitur arcu.
      Integer molestie nulla quis massa malesuada porta. Cras imperdiet ornare
      ullamcorper. Donec sagittis nunc vitae egestas rhoncus. Proin gravida eget
      lorem in convallis. Phasellus mi nunc, bibendum in nisi at, laoreet tempus
      lorem. Sed quis orci neque. In lacinia elit lorem, eu porta dolor euismod
      at. Proin laoreet lorem suscipit molestie ornare. Vivamus tempus dui at
      nisi finibus luctus. Vivamus a nulla purus. Quisque faucibus dictum mi vel
      euismod. Aliquam erat volutpat. Integer elementum nisl nec libero
      ullamcorper congue. Integer dapibus libero sed leo malesuada, non
      ullamcorper ante convallis. Morbi a rutrum dui. Mauris aliquam at velit
      vitae facilisis. Duis vel cursus lacus, eu rutrum sem.
    </mat-card-content>
  </mat-card>
</div>
