html,
body {
  height: 100%;
}
body {
  background: #f9f9f9;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}
pre {
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background: #f1f1f1;
  padding: 0.5rem 1rem;
  white-space: break-spaces;
}
mat-card-content img {
  width: 100%;
}
